<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='/css/master_css.css' rel='stylesheet'>
    <title>Display Category Tasks</title>
</head>
<body>
    <!--content heading-->
    <h1>VIEW <%= category.toUpperCase() %> TASKS</h1>

    <!--form to fill task details and create task-->
    <article id='form-article'>
        <h3>Create Your task here:</h3>
        <form action='/task/create/' method='post'>
            <div>
                <input type='text' name='name' placeholder='Input new task here'/ required>
            </div>
            <div>
                <input type='datetime-local' name='deadline' required>
            </div>
            <div>
                <input type='text' name='category' value='<%= category %>' readonly required>
            </div>
            <div>
                <input type='submit' value="create">
            </div>
        </form>
    </article>

    <!--Tasks View Block-->
    <article id='tasks-view-article'>
        <h3>All MY TASKS:</h3>
        <ul class='task-list'>

            <% if(tasks.length==0) { %>

                <li>No Tasks Added</li>

            <% }else{ %>

                <% for (var task of tasks){ %>
                    <li id='<%= task._id %>' class='task-item'>
                        <input type='checkbox' name='<%= category %>' class='task-marker'>
                        <p class='task-name'><%= task.name %></p>
                        <p class='task-date'><%= task.lastDate %></p>
                        <p class='task-time'><%= task.lastTime %></p>
                        <% if(task.warningMsg){ %>
                            <p class='task-warning'><%= task.warningMsg %></p>
                        <% } %>
                        <% if(task.expireMsg){ %>
                            <p class='task-expire'><%= task.expireMsg %></p>
                        <% } %>
                        <button id='<%= category %>' class='update-task-details'>Update</button>
                        <p class='task-category'><a href="/task/<%= task.category %>"><%= task.category %></a></p>
                    </li>
                <%} %>
                <button class='delete-task'>DELETE</button>
            <% } %>
        </ul>
    </article>

    <!--Tasks Update Block-->
    <article class='tasks-update-form-article'>
        <h3>Update Task Details Form:</h3>
        <form class='tasks-update-form' action='/task/update/' method='post'>
            <input type='hidden' name='id'>
            <div>
                <input type='text' name='name'/ required>
            </div>
            <div>
                <input type='datetime-local' name='deadline' required>
            </div>
            <div>
                <input type='text' name='category'/ readonly required>
            </div>
            <div>
                <input type='submit' value="update">
            </div>
        </form>
    </article>

    <script src='/js/script_master.js'></script>
</body>
</html>