<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
</head>
<body>
    <!--project heading-->
    <h1>MY TODO LIST</h1>

    <!--form to fill task details-->
    <article id='form-article'>
        <h3>Create Your task here:</h3>
        <form action='/task/create/' method='post'>
            <div>
                <input type='text' name='name' placeholder='Input new task here'/>
            </div>
            <div>
                <input type='datetime-local' name='deadline'>
            </div>
            <div>
                <select name='category'>
                    <% for (var item of categories) { %>
                        <option value='<%= item.name %>'><%= item.name %></option>
                    <% } %>
                </select>
            </div>
            <div>
                <input type='submit' value="create">
            </div>
        </form>
    </article>

    <article>
        <h3>My Tasks:</h3>
        <ul class='my-current-tasks'>
            <% for (var task of tasks){ %>
                <li class='task-item'>
                    <p><%= task.name %></p>
                    <p><%= task.lastDate %></p>
                    <% if(task.warningMsg){ %>
                        <p><%= task.warningMsg %></p>
                    <% } %>
                    <% if(task.expireMsg){ %>
                        <p><%= task.expireMsg %></p>
                    <% } %>
                </li>
            <%} %>
        </ul>
    </article>
</body>
</html>